.sign-page {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 55vh;
    padding: 20px;
}

.arrow-icon {
    width: 35px;
    /* margin-bottom: 120%; */
}

.sign-page-content {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sign-page-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 500;
}

.sign-page-content p {
    font-size: .9rem;
    font-weight: 200;
    color: #fff;
    margin-bottom: 2rem;
}

.sign-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.3rem;
}

button.sign-in {
    font-size: 1.2rem;
    font-weight: 600;
    background: #fff;
    color: #08155D;
    color: #200321;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 4rem;
    width: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 10px #08080891;
}

button.sign-up {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background: #08155D;
    background: #200321;
    border: 1px solid #200321;
    border-radius: 5px;
    height: 4rem;
    width: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 10px #200321;
}